@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@keyframes fadeAndSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px); /* 시작 위치를 아래로 20px 이동 */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* 최종 위치는 원래 위치 */
    }
}

@keyframes jelly {
    0%, 100% {
      transform: scale(1);
    }
    25% {
      transform: scale(0.9, 1.1) translateY(-20px);
    }
    50% {
      transform: scale(1.1, 0.9) translateY(20px);
    }
    75% {
      transform: scale(0.95, 1.05) translateY(-10px);
    }
  }

/* 헤더 */
body *{
    font-family: "Noto Sans KR", sans-serif;
}
#top_header{
	height : 70px;
	background-color : white;
}
#top_header .top_header_il *{transition: .3s ease-out;}
#top_header .nav .show{transition: .1s ease-out;}
.top_header_il{height : 100%;}
.top_header_il .top_header_il_obj{
    width : 100px;
    height : 100%;
}
.top_header_il .top_header_il_obj img,
.top_header_il .top_header_il_obj svg{
    width: auto;
    height: 100%;
    cursor: pointer;
}
.top_header_il .top_header_il_obj svg{
	padding-top: 10px;
	height: 59px;
}
.top_header_il .top_header_il_obj img{height: 60px;}
.top_header_il .top_header_il_obj:hover svg{
    fill: #333;
}
#top_header .nav{
	flex-grow: 1;
	font-size: 1.2rem; 
	height : 100%;
	border-bottom : none;
}
#top_header .nav .nav-item .nav-link.active{color : #111;}
#top_header .nav .nav-item .nav-link{
	color : #c0c0c0;
    height: 60px;
    margin-top: 10px;
    padding-top: 10px;
}
#top_header .nav .nav-item .nav-link:hover{
    color : #111;
    transition: .3s ease-out;
}
@media screen and (max-width: 600px){
    .top_header_il .top_header_il_obj img{height: 50px;}
}

/* 로고 위치 및 크기 수정 */
.top_logo {
     height: auto;
     margin-right: 20px;
}

.top_logo img {
    height: 75px; 
    padding-bottom: 5px;
}

/* 네비게이션 바 스타일 수정 */
.nav {
    flex-grow: 1;
    font-size: 1.2rem; /* 네비게이션 글씨 크기 증가 */
}

.nav-item {margin: 0 20px;}
.login-btn {
    font-weight: bold;
    color: #000; 
    background: none; 
    border: none; 
    padding: 10px 15px; 
    font-size: 1.1rem; 
    text-decoration: none; 
    display: flex;
    align-items: center; 
}
.login-btn:hover {
    text-decoration: underline; 
}
.login-btn svg {
    margin-right: 8px; 
    fill: #000; 
}
 /* 사용자 정보 및 로그아웃 버튼 스타일 */
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-name {
    font-weight: bold;
    font-size: 1.2rem; /* 필요에 따라 폰트 크기 조정 */
    margin-right: 10px; /* logout-btn과의 간격 */
}

.logout-btn {
    font-weight: bold;
    color: #000;
    background: none;
    border: none;
    padding: 8px 15px; /* 패딩을 조정하여 시각적 일관성 유지 */
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto; /* 오른쪽 정렬 */
    margin: 0;
}
.appmenuWrap{
	position : fixed;
	top : 0;
	right : 0;
	width : 100%;
	height : 100%;
	background-color : rgba(255,255,255, 0.65);
	z-index : 9999;
	transition : all .5s ease-in-out;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.appmenuWrap.hide{right : -100%;}
.appmenuWrap > div{
	position: relative; /* 자식 요소의 절대 위치를 기준으로 하도록 설정 */
    width: 100%;
    height: 100vh; /* 화면 전체 높이 */
    display: flex;
    justify-content: center; /* 가로 방향 중앙 정렬 */
    align-items: center; /* 세로 방향 중앙 정렬 */
}
.appmenuWrap > div > .row > .subRow > a,
.appmenuWrap > div > .row > .subRow > p{
	display : inline-block;
	text-align: center;
	width : auto;
    height : 60%;
    font-weight: bold;
    color: #000; 
    font-size: 1.85rem; 
    margin : 0;
    text-decoration: none;
    cursor : pointer;        
}
.appmenuWrap > div > .row > .subRow{margin-top : 15px;}
.appmenuWrap > div > .row > .subRow:nth-child(1){margin-top : 0;}
.appmenuWrap > div .btn-danger {
    position: absolute;
    top: 25px; /* 상단으로부터 10px 떨어지게 설정 */
    right: 25px; /* 우측으로부터 10px 떨어지게 설정 */
}
.appmenuWrap #loginBtn{display : inline-block;}
.logout-btn:hover {
    text-decoration: underline;
}
@media screen and (max-width: 1180px) {
	#loginBtn{display : none;}
}
@media screen and (max-width: 1000px) {
	#top_header .nav .nav-item{display : none !important;}
}
/* 헤더 끝 */

/* 영역 시작 */
.content2 h3,
.content3 h3{
    border-bottom: 2px solid #111;
    padding: 20px 0;
} /* section 머리글 */
.form-select{cursor: pointer;}
@media screen and (min-width: 1500px){
    .content{
        padding: 20px 5%;
        min-height: 730px;        
    }
    .content2{
        padding: 20px 10%;
        min-height: 730px;        
    }
}
@media screen and (max-width: 1499px){
    .content{
        padding: 20px 0;
        min-height: 550px;
    }
    .content2{
        padding: 20px 30px;
        min-height: 600px;
    }
    .content3{
        padding: 20px 7%;
        min-height: 700px;
    }
}
.content{
    width: 100%;
    height: auto;
    background-color: #f8f9fa;
    vertical-align: middle;
}
/* 영역 끝 */
    
/* 푸터 시작 */
.footer{
    border-top: 1px solid #dfdfdf;
    background-color: #f8f9fa;
    text-align: center;
    font-size: 11px;
    color : #999c9d;
    padding: 10px 0;
}
/* 푸터 끝 */