@charset "UTF-8";

/* 게시판 시작 */
.board_con .table-outset{
    border-radius: 10px;
    height: auto;
    border: 1px solid #c6c7c8;
    overflow: hidden;
}
.board_con .table{
    cursor: pointer;
    margin: 0;
    padding: 0;
    background-color: #212529;
}
.board_con .table tbody tr{transition: .5s ease-out;}
.board_con .table tbody tr:hover{text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);}
.board_con .table tbody tr:hover th{
    animation: jelly .8s alternate;
    background-color: transparent;
}
.board_con .table td{
    border-top: 1px solid #c6c7c8;
}
.board_con .table tbody tr:nth-child(1) td{
    border-top: none;
    border-bottom: 1px solid #c6c7c8;
}
.board_con .table tbody tr .title{padding-bottom: 8px;}
.board_con .table tbody tr .details{
  padding-top: 8px;
  border-top: 1px solid #c6c7c8;
}
.board_con .table tbody:last-child tr:nth-child(2) td{border-bottom: none;}
/* 게시판 끝 */

/* 게시판 내용 */
.board_info .table{
	box-shadow: 5px 5px 3px rgba(0, 0, 0, .5);
	border-radius: 10px;
	overflow: hidden;
}
.table_info{height: 450px;}
.table-btn{
  cursor: pointer;
  transition: .25s ease-out;
  width: 150px;
}
.table-btn:hover{
  box-shadow: 0 5px 2px rgba(0, 0, 0, .5);
  transform: translateY(-5px);
}
.table-btn:last-child{margin-left: 10px;}
@media screen and (max-width: 800px){
  .table-btn{
    width: 50%;
    padding: 15px 10px;
  }
}
/* 게시판 내용 */

/* 댓글 관련 */
.answerContents{
    height: 100px;
    resize: none;
}
.answerContents2{	
    resize: none;
}
.answerBtn{
	margin : 0;
    float : right;	
}
.table-dark{text-align : center;}
/* 댓글 관련 */