@charset "UTF-8";

/* 영역 시작 */
.work_div_result{margin-top: 10px;}
/* 영역 끝 */

.land {
    fill: #CCCCCC;
    transition : all .6s ease-in-out;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:0.5;
}
.land:hover{
    fill: #157347;
    cursor: pointer;
}
.map{
	top : 0;
	left: 0;
    width : 120%;
    max-width : 500px;
    height: auto;
}
.btn-download {
    background-color: #007bff; /* 부트스트랩의 primary 색상 */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.btn-download:hover {
    background-color: #0056b3; /* Hover 색상 */
}
.svgBox{
	margin-top : 15px;
	width : 100%;
	height : auto;
	min-height : 800px;
}
.svgBoxInner1{
	width: 30%;
	height: 100%;
	min-height: 800px;
	float: left;
}
.svgBoxInner2{
	width: 70%;
	height: 100%;
	float: right;
}
#fireCnt{overflow: hidden; width: 50%; float: left; height: 50%;}
#fireAmount{overflow: hidden; width: 50%; float: right; height: 50%;}
#result{overflow: hidden; width: 100%; float: right; height: 50%;}
@media screen and (max-width: 1400px){
    .svgBoxInner1{
		width: 100%;
		height: auto;
		min-height: 800px;
    }
    .svgBoxInner2{
        width: 100%;
        height: auto;
        min-height: 500px;
    }
    #fireCnt{width: 100%; height: 200px;}
    #fireAmount{width: 100%; height: 200px;}
}
.select_date .btn {
    flex: 1; /* 각 버튼이 동일한 너비를 차지하도록 설정 */
    margin: 0; /* 버튼 사이의 기본 여백 제거 */
}
.input_date {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
}
.search-conditions {
    flex: 1;
    display: flex;
    align-items: center;
}
.search-date {
    display: flex;
    align-items: center;
}
.search-date input {
    margin: 0 0.5rem;
}
.buttons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 0.5rem;
}
.buttons button {
    margin-left: auto;
}
#cityfrm {
	width : 30%;
}