@charset "UTF-8";

/* 영역 시작 */
.content .main{
    position: relative;
    width: 70%;
    max-width: fit-content;
    margin: 0 0 0 20px;
    display: inline-block;
    float: left;
    overflow: hidden;

    -webkit-user-drag: none; /* Safari 및 구형 브라우저 대응 */
    -webkit-user-select: none; /* Safari 및 구형 브라우저 대응 */
    -moz-user-select: none; /* Firefox 대응 */
    -ms-user-select: none; /* IE 및 Edge 대응 */
    user-select: none; /* 일반적인 표준 */    
}

.content .main img{
    width: 100%;
    max-width: 626px;
    height: auto;
}

.mainGraphBox{
    display : inline-block;
    width : 100%;
    height: auto;
}
.main_title_box{
    position: absolute;
    left : 30px;
    bottom: 20px;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
}
.main_title{
    font-size: 30px;
    font-weight: bold;
}
.main_sub_title{font-size: 20px;}
.main_fd1{animation: fadeAndSlideUp 0.5s ease forwards;}
.main_fd2{animation: fadeAndSlideUp 0.5s ease .5s forwards;}
.main_fd3{animation: fadeAndSlideUp 0.5s ease 1s forwards;}
.main_fd1,
.main_fd2,
.main_fd3{
    display: inline-block;
    font-size: 15px;    
}
.main_fd2,
.main_fd3{margin-left: 15px;}

.graph{
	text-align: center;
    width: calc(100% - 685px);
    height: 352px;
    margin: 0 20px 0 0;
    background-color: white;
    display: inline-block;
    border: 1px solid #e2e2e2;
    float: right;
    overflow: hidden;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
    padding: 20px;

    -webkit-user-drag: none; /* Safari 및 구형 브라우저 대응 */
    -webkit-user-select: none; /* Safari 및 구형 브라우저 대응 */
    -moz-user-select: none; /* Firefox 대응 */
    -ms-user-select: none; /* IE 및 Edge 대응 */
    user-select: none; /* 일반적인 표준 */    
}
.graph .main_fd1,
.graph .main_fd2,
.graph .main_fd3{color : #7e7c7c;}
.graphTitle{
	padding: 15px 0;
    width: 95%;
    height: 20%;
    display: inline-block;
}
.graphTitle h3,
.graphTitle .graphDate{display: inline-block;}
.graphTitle h3{float : left;}
.graphTitle h3 .graphlabel{font-size: 16px;}
.graphTitle .graphDate{
	background-color : #48b0f7;
	border-radius : 20px;
	box-sizing: border-box;
	padding : 5px 55px;
	float : right;
	color : white;
}
.blueBox{margin : 0 10px 0 20px;}
.blueBox,
.redBox{
	display: inline-block;
	height: 15px;
	width: 15px;	
	margin : 0 10px;
}
.blueBox{background-color : #4f81bd;}
.redBox{background-color : #ff6161;}
#graphBox1_1,
#graphBox1_2,
#graphBox1_3{    
    height: 80%;
    min-height : 264px;
    display: inline-block;
}
#graphBox1_1{width: 32%;}
#graphBox1_2{width: 32%;}
#graphBox1_3{width: 33%;}
/* 예방법 영역 */
.preventBox{
	padding : 0 20px;
	width : auto;
    height : auto;	
}
.preventBox > div{
    width : auto;	
	height: auto;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
}
.preventBox > div > div{
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
    position : relative;
    flex: 1 1 22%;
    margin: 0 .8%;
    height: 250px;
    padding : 15px;
    z-index: 1;
    overflow: hidden;
    border-radius : 0;
}
.preventBox > div > div:nth-child(1){margin-left: 0;}
.preventBox > div > div:nth-child(4){margin-right: 0;}
.preventBox > div > div::before {
    content: ""; 
	display : inline-block;
	position : absolute;	
    max-width : 300px;
    width : 100%;
    height: 100%;
    background-repeat : no-repeat;
    top : 0;
    right : 0;
    z-index: -1;
    transition : all .5s ease-in-out;
    background-position : center center;
}    
.preventBox > div > div:hover::before{animation: jelly .8s alternate;} 
.preventBox > div > div:nth-child(1)::before{
	background-image : url("https://nfds.go.kr/images/common/link_comp_01.png");
    background-size: 96%;
}
.preventBox > div > div:nth-child(2)::before{
	background-image : url("https://nfds.go.kr/images/common/link_comp_02.png");
	background-size: 60%;
    background-position: right 25px center;
}
.preventBox > div > div:nth-child(3)::before{
	background-image : url("https://nfds.go.kr/images/common/link_comp_03.png");
	background-size: 80%;
	background-position: right 5px bottom 15px;
}
.preventBox > div > div:nth-child(4)::before{
	background-image : url("https://nfds.go.kr/images/common/link_comp_04.png");
	background-size: 50%;
    background-position: right 25px center;
}
.preventBox > div > div strong{
	display : block;
    height : auto;	
}
.preventBox > div > div span{
    margin-top : 5px;
	display : block;
}
.preventBox > div > div button{
    margin-top : 10px;
	display : block;
	width : 100px;
}

/* 순위 박스 시작 */
.rankBox{
    padding : 0 20px;
    width : auto;
    height : auto;  
}
.rankBox > div{
    width : auto;   
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.rankBox > div > .card{
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
    position : relative;
    flex: 1 1 31%;
    margin: 0 1%;
    height: auto;
	z-index: 1;
	overflow: hidden;
	border-radius: 0;
	box-sizing: border-box;
}
.rankBox > div > .card > div{
	padding: 15px;
	border: 6px solid #f5f5f5;
	border-bottom: 0; /* 하단 테두리 없음 */	
}
.rankBox > div > .card:nth-child(1){margin-left: 0;}
.rankBox > div > .card:nth-child(3){margin-right: 0;}
.rankBox > div > .card h5{
	text-align: center;
	border-bottom : 1px solid rgba(0, 0, 0, 0.175);
    padding-bottom : 15px;	
}
.sysMonth{
	font-size: 12px;
	color: #7e7c7c;
}
.rankBox > div > .card p{
	margin : 0;
	display: flex; /* Flexbox 레이아웃 적용 */
	justify-content: space-between; /* 좌측과 우측으로 배치 */
}
.rankBox > div > .card p span{padding: 10px;}
.rankBox > div > .card > a{
	display: block;
	width : 100%;
	height : 30px;
	font-size : 14px;
	line-height: 30px;
	background-color: #e6e6e6;
	color: #999;
	text-align: center;
	text-decoration: none;
}
.rankBox > div > .card > div > div{padding : 5px 0;}
.rankBox > div > .card > div > div > p:nth-child(2){
	margin : 5px 0;
	padding-left : 22px;
}
/* 순위 박스 끝 */
.subGraphBox{
	padding : 0 20px;
	margin : 25px auto;
	background-color: #fff;
}	
.subGraphBox div{padding: 20px 5px;}

.subGraphBox > div{box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);}
@media screen and (max-width: 1200px) {
	.content .main,
    .graph{
        width: 96.5%;
        max-width: none;
        margin: 0 auto;
        display: block;
        float: none;
    }
    .content .main img{
        max-width: 100%;
    }    
    .graph{
        margin: 20px auto 0 auto;
        height: auto;
        background-color: white;
        border: 1px solid #e2e2e2;
    }    
}
@media screen and (max-width: 1000px) {
    .content .main,
    .graph{
        width: 95%;
        max-width: none;
        margin: 0 auto;
        display: block;
        float: none;
    }
    .content .main img{
        max-width: 100%;
    }
    .graph{
        margin: 20px auto 0 auto;
        height: auto;
        background-color: white;
        border: 1px solid #e2e2e2;
    }
    .preventBox > div > div {
        flex: .8 1 48%;
        margin: 0 1.6%;
    }
    .preventBox > div > div:nth-child(2){margin-right: 0;}
    .preventBox > div > div:nth-child(3){margin-left: 0;}
    .preventBox > div > div:nth-child(3),
    .preventBox > div > div:nth-child(4){margin-top: 22px;}
    
    .rankBox > div > .card {
        flex: 1 1 98%;
        margin: 0;
    }
    .rankBox > div > .card:nth-child(2),
    .rankBox > div > .card:nth-child(3){margin-top: 25px;}
}

@media (max-width: 800px) {
	.main_title_box{
		width: 100%;
		text-align: center;
	    left : 50%;
	    bottom: 50%;
		transform: translate(-50%, 50%);
	}
	.main_title_box p{margin-bottom: 10px;}
	.main_fd1,
	.main_fd2,
	.main_fd3{
	    display: block;
	    font-size: 15px;    
	}
	.main_fd2,
	.main_fd3{margin-left: 0;}
	.graphTitle h3{
		width : 100%;
		float : none;
		justify-content: center;
	}
	.graphTitle .graphDate{
		width : 60%;
		min-width: 200px;
		margin-top: 15px;
		float : none;
	}
	#graphBox1_1{width: 95%;}
	#graphBox1_2{width: 95%;}
	#graphBox1_3{width: 95%;}
    .preventBox > div > div {
        flex: 1 1 98%;
        margin: 0;
    }
    .preventBox > div > div:nth-child(2),
    .preventBox > div > div:nth-child(3){margin-top: 25px;}
}
/* 영역 끝 */