@charset "UTF-8";

/* 관리자 페이지 시작 */
#frmDataUpdate{
	transform : translate(-50%, -50%);
	background-color: #fff;
	position : fixed;
	width : 80%;
	max-width : 1500px;
	height: auto;
	top : 50%;
	left: 50%;
	z-index : 999;
	padding : 50px;
	box-shadow : 5px 5px 2px rgba(0,0,0,.6);
}
#checkAll,
.chk{cursor : pointer;}
/* 관리자 페이지 시작 */