<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.LoginMapper">

    <select id="idCheck" parameterType="Login" resultType="int">
		SELECT COUNT(*) cnt
		FROM member
		WHERE user_id = #{userId}
    </select>
    
    <select id="passwordCheck" parameterType="Login" resultType="int">
		SELECT COUNT(*) cnt
		FROM member
		WHERE user_id = #{userId}
		AND password = #{password}
    </select>
    
    <select id="loginInfo" parameterType="Login" resultType="Member">
		SELECT a.user_id AS userId,
		       a.user_name AS userName,
		       a.email,
		       a.email_yn AS emailYn,
		       a.admin_yn AS adminYn,
		       b.sub_code AS subCode,
		       b.mid_list AS midList,
		       a.tel,
		       a.reg_dt AS regDt
		FROM   member a
		JOIN   code b ON a.sub_city = b.sub_code
		WHERE  a.user_id = #{userId}
		AND    b.master_code = 'city'
    </select>

</mapper>