<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    
    <typeAliases>
        <typeAlias alias="Member" type="com.acorn.anpa.member.domain.Member"/>
        <!-- <typeAlias alias="Login" type="com.acorn.anpa.login.domain.Login"/> 추가시 주석 해제 -->
        <!-- <typeAlias alias="Board" type="com.acorn.anpa.board.domain.Board"/> 추가시 주석 해제 -->
        <typeAlias alias="Search" type="com.acorn.anpa.cmn.Search"/>
        <typeAlias alias="Code" type="com.acorn.anpa.code.domain.Code"/>
        <typeAlias alias="Firedata" type="com.acorn.anpa.firedata.domain.Firedata"/>
       <typeAlias alias="prevent" type="com.acorn.anpa.prevent.domain.prevent"/>
    </typeAliases>
</configuration>