<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.CodeMapper">
    <resultMap type="Code" id="codeMap">
        <result column="master_code" property="masterCode"/>
        <result column="sub_code" property="subCode"/>
        <result column="big_list" property="bigList"/>
        <result column="mid_list" property="midList"/>
        <result column="use_yn" property="useYn"/>
        <result column="reg_id" property="regId"/>
        <result column="mod_id" property="modId"/>
        <result column="reg_dt" property="regDt"/>
        <result column="mod_dt" property="modDt"/>
    </resultMap>

    <select id="doRetrieve" parameterType="Code" resultMap="codeMap">
        SELECT master_code,
		       sub_code,
		       big_list,
		       mid_list,
		       use_yn,
		       reg_id,
		       mod_id,
		       reg_dt,
		       mod_dt
		FROM code
	   WHERE master_code = #{masterCode}
	     AND use_yn = 1
    </select>
    
    <select id="doSelectCode" parameterType="Code" resultMap="codeMap">
        SELECT master_code,
               sub_code,
               big_list,
               mid_list,
               use_yn,
               reg_id,
               mod_id,
               reg_dt,
               mod_dt
		FROM CODE
		WHERE use_yn = 1
		AND master_code = #{masterCode}
		AND sub_code = #{subCode}
    </select>

</mapper>