<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.anpa.mapper.BoardMapper">
    
    <resultMap type="Board" id="boardMap">
        <result column="board_seq" property="boardSeq" />
        <result column="read_cnt" property="readCnt" />
        <result column="reg_id" property="regId" />
        <result column="reg_dt" property="regDt" />
        <result column="mod_id" property="modId" />
        <result column="mod_dt" property="modDt" />
    </resultMap>
    
    <sql id="doRetrieveWhere">
       <choose> <!-- when에 and 사용 금지 -->
             <when test="searchDiv != null and searchDiv == '10'">
               AND title LIKE #{searchWord} || '%'
             </when>                                                                                                                                                     
             <when test="searchDiv != null and searchDiv == '20'">
               AND contents LIKE #{searchWord} || '%'
             </when>                                                                                                                                   
             <when test="searchDiv != null and searchDiv == '30'">
               AND title LIKE #{searchWord} || '%'
               OR contents LIKE #{searchWord} || '%'
             </when>                                                                                                                                    
       </choose>                                                                                                                                   
    </sql>
    
    <sql id="divWhere">
        <choose>
            <when test="div != null and div !='' ">
                AND div = #{div}
            </when>
        </choose>
    </sql>
    
    <select id="doSelectOne" parameterType="Board" resultMap="boardMap">
        SELECT  board_seq,
		        title,
		        read_cnt ,
		        contents,
		        div,
		        reg_id,
		        TO_CHAR(reg_dt, 'YYYY/MM/DD HH24:MI:SS') reg_dt,
		        mod_id,
		        DECODE(TO_CHAR(mod_dt, 'YYYY/MM/DD'),TO_CHAR(SYSDATE,'YYYY/MM/DD'),
		            TO_CHAR(mod_dt,'HH24:MI'),TO_CHAR(mod_dt, 'YYYY/MM/DD')) mod_dt
		        FROM board
		        WHERE board_seq = #{boardSeq}
    </select>
    
    <select id="doRetrieve" parameterType="Search" resultMap="boardMap">
        SELECT A.*, B.*                                                                                                                                     
		FROM( 
		    SELECT  TT1.no,
		            TT1.board_seq,
		            TT1.title,
		            TT1.contents,
		            TT1.read_cnt,
		            TT1.div,
		            TT1.mod_id,
		            DECODE(
		            TO_CHAR(TT1.mod_dt, 'YYYYMMDD'), TO_CHAR(SYSDATE, 'YYYYMMDD'),
		            TO_CHAR(TT1.mod_dt, 'HH24:MI'), TO_CHAR(TT1.mod_dt,'YYYY/MM/DD')
		            ) AS mod_dt
		    FROM    (
		        SELECT ROWNUM AS no, T1.*
		        FROM(
		            SELECT  *
		            FROM    board
		            WHERE 1=1
		            <include refid="doRetrieveWhere"></include>
		            <include refid="divWhere"></include>
		            ORDER BY mod_dt DESC
		        ) T1
		        WHERE ROWNUM <![CDATA[<= (#{pageSize} * (#{pageNo} - 1) + #{pageSize})]]> 
		    ) TT1
		    WHERE TT1.no <![CDATA[>= (#{pageSize} * (#{pageNo} - 1) + 1)]]> 
		)A
		CROSS JOIN                                                                                                                                           
		(                                                                                                                                                    
		    SELECT COUNT(*) totalCnt                                                                                                                             
		    FROM board  
		    WHERE 1=1   
		    <include refid="doRetrieveWhere"></include>                                                                                                                   
		    <include refid="divWhere"></include>
		)B           
    </select>
    
    <insert id="doSave" parameterType="Board">
        INSERT INTO board (
		    title,
		    contents,
		    div,
		    reg_id,
		    mod_id
		) VALUES (
		    #{title},
		    #{contents},
		    #{div},
		    #{regId},
		    #{regId}
		)
    </insert>
    
    <delete id="doDelete" parameterType="Board">
        DELETE FROM board
        WHERE board_seq = #{boardSeq}
    </delete>
    
    <update id="doUpdate" parameterType="Board">
        UPDATE board
        SET
            title = #{title},
            read_cnt = #{readCnt},
            contents = #{contents},
            div = #{div},
            mod_id = #{modId},
            mod_dt = SYSDATE
        WHERE board_seq = #{boardSeq}
    </update>
    
    <update id="readCntUpdate" parameterType="Board">
        UPDATE board
        SET    read_cnt = read_cnt + 1
        WHERE  board_seq = #{boardSeq}
        AND    reg_id <![CDATA[ <> ]]> #{regId}
    </update>
    
    <!-- 테스트용 코드 시작 -->
    
    <insert id="multipleSave">
        INSERT INTO board
		    SELECT  ROWNUM,
		            '제목' || LPAD(ROWNUM, 7, 0),
		            MOD(ROWNUM, 10),
		            '내용' || LPAD(ROWNUM, 7, 0),
		            DECODE(MOD(ROWNUM, 2), 1, '10', '20'),
		            SYSDATE-ROWNUM/24,
		            'ADMIN',         
		            SYSDATE-ROWNUM/24 + 1,
		            'ADMIN'
		    FROM    dual
		    CONNECT BY LEVEL <![CDATA[<= 101]]>
    </insert>
    
    <delete id="deleteAll">
        DELETE FROM board
    </delete>
    
    <select id="getSequence" resultType = "int">
        SELECT MAX(board_seq)     
        FROM board      
    </select>
    
    <!-- 테스트용 코드 끝 -->
    
</mapper>